
<head>
    <title>My Chats</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>


<div class="pull-left">
    <div id="contact-list">
        <ul>
            
        </ul>
    </div>

    <div id="chat-list">
        <h3></h3>
        <ul>
            
        </ul>
    </div>
</div>

<div class="pull-right" id="bot-status">
    <div id="status">
        当前状态：<span class="status-label">【】</span>
    </div>
    <div id="actions">
        <button class="start">启动</button>
        <button class="stop">停止</button>
    </div>
    <div id="qrcode">
    </div>
</div>


<script src="/common.js"></script>
<script src="/home-index.js"></script>


